Repository remarkablemark/paccurate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts}": "eslint --fix",
  "*.{css,json,md,yaml,yml}": "prettier --write"
}

build(nvmrc): bump Node.js version from 22 to 24
  .nvmrc
Due: none

chore(scripts): fail broken swagger.sh
  scripts/swagger.sh
Due: none

chore(scripts): improve swagger.sh
  scripts/swagger.sh
Due: none

ci(github): tidy workflow swagger.yml
  .github/workflows/swagger.yml
Due: prettier --write

ci(github): set permissions and remove unused secret in workflows
  .github/workflows/commitlint.yml
  .github/workflows/release-please.yml
Due: prettier --write

build(scripts): fix swagger.sh by replacing paccurate api endpoint
  scripts/swagger.sh
Due: none

test(snapshots): update index.integration.test.ts.snap
  src/__snapshots__/index.integration.test.ts.snap
Due: none

build(package-lock): update package-lock.json
  package-lock.json
Due: prettier --write

refactor: refactor eslint, tsconfig, and tests
  .github/dependabot.yml
  __tests__/Paccurate.test.ts
  __tests__/__snapshots__/index.integration.test.ts.snap
  __tests__/index.integration.test.ts
  __tests__/index.test.mjs
  __tests__/index.test.ts
  __tests__/pack.test.ts
  __tests__/request.test.ts
  eslint.config.mjs
  jest.config.ts
  package-lock.json
  package.json
  src/pack.ts
  src/request.ts
  tsconfig.build.json
  tsconfig.json
  tsconfig.test.json
Due: eslint --fix, prettier --write

chore(eslint): add rule tsdoc/syntax
  eslint.config.mjs
Due: eslint --fix

chore: update .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

refactor: migrate from Swagger to OpenAPI
  README.md
  eslint.config.mjs
  package.json
  scripts/openapi.sh
  scripts/swagger.sh
  src/openapi.json
  src/openapi.ts
  src/swagger.ts
  src/swagger.yaml
  src/types.ts
Due: eslint --fix, prettier --write

ci(github): replace swagger-to-types with openapi-to-types in build.yml
  .github/workflows/build.yml
Due: prettier --write

ci(github): rename workflow swagger.yml to openapi.yml
  .github/workflows/openapi.yml
Due: prettier --write

build(package): bump openapi-typescript from 5.4.2 to 7.13.0
  package-lock.json
  package.json
Due: prettier --write

refactor: regenerate openapi types
  src/openapi.ts
  src/request.ts
  src/types.ts
Due: eslint --fix

build(package): bump @types/node-fetch from 2.6.12 to 2.6.13
  package-lock.json
  package.json
Due: prettier --write

build(package): rename script `openapi-to-types` to `build:types`
  .github/workflows/build.yml
  package.json
  scripts/openapi.sh
Due: prettier --write

ci(github): install with ignore scripts in release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

chore(eslint): fix lint
  eslint.config.mts
  package-lock.json
  package.json
Due: prettier --write

build: deploy d79e1964a301e1b7450becd7b1bfd1e48b347486 to gh-pages
  .nojekyll
  assets/hierarchy.js
  assets/highlight.css
  assets/icons.js
  assets/icons.svg
  assets/main.js
  assets/navigation.js
  assets/search.js
  assets/style.css
  classes/Paccurate.html
  functions/pack.html
  hierarchy.html
  index.html
  interfaces/PackBody.html
  modules.html
  types/Body.html
  types/ErrorResponse.html
  types/Response.html
Due: eslint --fix, prettier --write

test(integration): update empty body error expectation to code 401
  __tests__/index.integration.test.ts
Due: eslint --fix
